<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>It's Mr. Stick Figure</h1>
		<p>Stick Figure is an American reggae and dub band based in Southern California. The group has released six full-length albums, all of which were written and produced by frontman Scott Woodruff, a singer-songwriter who until 2009 was based in Massachusetts. In 2012 Woodruff released the fifth Stick Figure album, Burial Ground, to critical acclaim. The album reached no. 1 on the iTunes and Billboard Reggae charts. The band began touring with a new line up after the release of Burial Ground, and has since toured throughout the United States with reggae groups such as Rebelution, Slightly Stoopid, The Green, Passafire, Tribal Seeds and The Expendables. Cocoa, an Australian Shepherd, typically joins the band on stage. The group's sixth album, Set in Stone, was released in November 2015 and reached No. 1 on the Billboard Reggae Albums Chart, also reaching No. 101 on the Billboard 200 and No. 1 on Heatseekers Albums chart.</p>
	</div>
</div>